<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-capitalize">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="center-avatar">
    <img src="assets/images/user.jpg" alt="logo">
  </ion-avatar>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email"
        errorText="Invalid email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" maxlength="8" fill="solid" label="Password" labelPlacement="floating" helperText="Enter a valid password"
        errorText="Invalid password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button 
        type="submit" 
        [disabled]="!loginForm.valid"
        color="success"
        shape="round"
        expand="full"
      >
        Login
      </ion-button>
    </ion-item>
  </form>
</ion-content>