swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  h1 {
    color: #4D4DFF;
    text-align: center;
  }
  p{ 
    font-size: 1.2rem;
    text-align: center;
  }


}

img {
  border-radius: 5%;
}
