swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4c4c4c43;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  h1 {
    color: coral;
    text-align: center;
  }
  p{ 
    font-size: 1.2rem;
  }

}

img {
  border-radius: 5%;
}