swiper-container {
    width: 100%;
    height: 100%;
  }
  
  swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .red-title{
    color: red;
  }
  
  .slide-1{
    background-color: aqua;
    font-size: 30px;
  }
  
  .slide-2{
    background-color: blue;
  }
  
  .slide-3{
    background-color: red;
  }
  
  .slide-4{
    background-color: yellow;
  }
  
  .slide-5{
    background-color: green;
  }
  
  .slide-6{
    background-color: purple;
  }