<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <img src="assets/images/logo.png" alt="logo">

        <ion-button (click)="goToIntro()">
            Iniciar
        </ion-button>
    </div>
</ion-content>

<ion-content>
    <swiper-container [pagination]="true" [centeredSlides]="true">
        <swiper-slide *ngFor="let slide of event_list">
            <img src="{{slide.image}}" alt="">
        </swiper-slide>
    </swiper-container>
</ion-content>